@import "tailwindcss";
@import "alk-rounded-nusx-med/css/alk-rounded-nusx-med.min.css";

* {
  font-family: "ALK Rounded Nusx Med", sans-serif;
}

button,
a,
select,
[role="button"] {
  cursor: pointer;
}

button:disabled,
a:disabled,
select:disabled,
[role="button"]:disabled {
  cursor: not-allowed;
}